<a href="https://colab.research.google.com/github/minonza/frequent-code/blob/main/Frequent_coding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
farenhiet = int(input( " Enter the value of farenhiet temperature to convert it into celcius"))
c=farenhiet-32*5.0/9
print(" The temperature in  celcius is {})".format(c))

 Enter the value of farenhiet temperature to convert it into celcius100
 The temperature in  celcius is 82.22222222222223)

In [4]:
#swap two variable using third variable
a=int(input(" Enter a "))
b=int(input(" Enter b "))
print(" a before swapping {} \n".format(a))
print(" b before swapping {} \n".format(b))


c=a
a=b
b=c 
print(" a after swapping {} \n".format(a))
print(" b after swapping {} \n".format(b))

 Enter a 18
 Enter b 14
 a before swapping 18

 b before swapping 14

 a after swapping 14

 b after swapping 18

In [5]:
#swapping without using third variable
a=int(input(" Enter a "))
b=int(input(" Enter b "))
print(" a before swapping {} \n".format(a))
print(" b before swapping {} \n".format(b))

a=a+b
b=a-b
a=a-b

print(" a after swapping {} \n".format(a))
print(" b after swapping {} \n".format(b))

 Enter a 78
 Enter b 675
 a before swapping 78

 b before swapping 675

 a after swapping 675

 b after swapping 78

In [8]:
#calculate area of triangle
import math
a=int(input(" Enter a "))
b=int(input(" Enter b "))
c=int(input(" Enter c "))
s=a+b+c
area = s*(s-a)*(s-b)*(s-c)
r=math.sqrt(area)
print(r)

 Enter a 12
 Enter b 12
 Enter c 12
705.4530459215553