<a href="https://colab.research.google.com/github/minonza/frequent-code/blob/main/Frequent_coding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
farenhiet = int(input( " Enter the value of farenhiet temperature to convert it into celcius"))
c=farenhiet-32*5.0/9
print(" The temperature in  celcius is {})".format(c))

 Enter the value of farenhiet temperature to convert it into celcius100
 The temperature in  celcius is 82.22222222222223)

In [ ]:
#swap two variable using third variable
a=int(input(" Enter a "))
b=int(input(" Enter b "))
print(" a before swapping {} \n".format(a))
print(" b before swapping {} \n".format(b))


c=a
a=b
b=c 
print(" a after swapping {} \n".format(a))
print(" b after swapping {} \n".format(b))

 Enter a 18
 Enter b 14
 a before swapping 18

 b before swapping 14

 a after swapping 14

 b after swapping 18

In [ ]:
#swapping without using third variable
a=int(input(" Enter a "))
b=int(input(" Enter b "))
print(" a before swapping {} \n".format(a))
print(" b before swapping {} \n".format(b))

a=a+b
b=a-b
a=a-b

print(" a after swapping {} \n".format(a))
print(" b after swapping {} \n".format(b))

 Enter a 78
 Enter b 675
 a before swapping 78

 b before swapping 675

 a after swapping 675

 b after swapping 78

In [ ]:
#calculate area of triangle
import math
a=int(input(" Enter a "))
b=int(input(" Enter b "))
c=int(input(" Enter c "))
s=a+b+c
area = s*(s-a)*(s-b)*(s-c)
r=math.sqrt(area)
print(r)

 Enter a 12
 Enter b 12
 Enter c 12
705.4530459215553

In [5]:
# Python program to find the factorial of a number provided by the user.

# change the value for a different result
num = 7

# To take input from the user
#num = int(input("Enter a number: "))

factorial = 1

# check if the number is negative, positive or zero
if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

The factorial of 7 is 5040

In [6]:
2**3

8

In [14]:
# Taking the input from User 
number = int(input("Enter The Number"))

if number > 1:
    for i in range(2,int(number/2)+1):
        if (number % i == 0):
            print(number, "is not a Prime Number")
            break
    else:
        print(number,"is a Prime number")
# If the number is less than 1 it can't be Prime    
else:
  print("number cant be prime")

Enter The Number5
5 is a Prime number