<a href="https://colab.research.google.com/github/minonza/frequent-code/blob/main/general_practise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#python program to multiply all elements in list
list1=[1,2,3,4,5]
tot=1
# mul= [i*i+1 for i in list1]
# print(mul)
for i in list1:
  tot = tot*i
  
print(tot)

120

In [ ]:
max = list1[0]
for i in list1:
  if i<max:
    max = list1[i]
print(max)

1

In [ ]:
def count_of_words(words):
  cnt = 0
  for word in words:
    if len(word)>1 and word[0]==word[-1]:
      cnt= cnt +1
  return cnt      
print(count_of_words(['abc','khutu','awe','abc']))

0

In [ ]:
from ast import Or
# remove duplicates
list2=[11,22,3,3,3,5,5,5,7,7,7,7]
l1=list(set(list2))
print(l1)

[3, 5, 7, 11, 22]

In [ ]:
def check(ele,ment):  
  for i in ele:
    for j in ment:
      if i == j:
        return True
check(list1,list2)

True

In [ ]:
list3=['green','blue','yellow','brown','pink']
del list3[0]
del list3[2]

del list3[1]

print(list3)

['blue', 'pink']

In [ ]:
def remove_even(l):
  l2=[]
  for i in l:
    if i%2==0:
      l2.append(i)
  print(l2)    
  return l2    
result = remove_even(list1)

[2, 4]

In [ ]:
ans=''.join(list3)
ans

'bluepink'

In [ ]:
my_list = [1,2,3]
new_list = []

while my_list:
    min = my_list[0]  
    for x in my_list: 
        if x < min:
            min = x
    new_list.append(min)
    my_list.remove(min)    

print(new_list[-2])

# smResult = [2]

# smResult[0] = my_list[0]
# smResult[1] = my_list[1]

# def swap():
#   if smResult[0] > smResult[1]:
#       temp = smResult[0]
#       smResult[0] = smResult[1]
#       smResult[1] = temp

# for num in my_list:

#   if num < smResult[1]:
#     smResult[1] = num
#     swap()


# print(smResult)

2

In [ ]:
#frequency of elements in list
list4=[6, 45, 45,45,45, 21, 17, 45,  91, 7, 7, 7]
temp=[]
count=0
for i in list4:
  if i in temp:
    count = count+1
    print(i)
    print(count)
  
  else:
    temp.append(i)
    count=1

45
2
45
3
45
4
45
2
7
2
7
3

In [ ]:
name = "Mini Sharma"
print(len(name))

11

In [ ]:
def char_frequency(str1):
  dict={}
  for i in str1:
    keys=dict.keys
    if i in keys:
      dict[i] += 1
    else:
      dict[i] = 1

In [ ]:
listArray=[6, 45, 45,45,45, 21, 17, 45,  91, 7, 7, 7]
dictData = {}
for i in listArray:
  if i in dictData: 
    dictData[i] += 1
  else:
    dictData[i] = 1

print(dictData)

{6: 1, 45: 5, 21: 1, 17: 1, 91: 1, 7: 3}

In [ ]:
# create a list with repeating elements
lst = [1, 1, 2, 3, 3, 3, 4, 4, 4, 4]

# create an empty dictionary
counts = {}

# iterate through the list and count the number of occurrences of each element
for element in lst:
    if element in counts:
        counts[element] += 1
    else:
        counts[element] = 1

# print the counts
print(counts)

{1: 2, 2: 1, 3: 3, 4: 4}

In [ ]:
def longest_word(words):
    # Initialize a variable to store the maximum length
    max_length = 0

    # Iterate through each word in the list
    for word in words:
        # Update the maximum length if necessary
        if len(word) > max_length:
            max_length = len(word)

    # Return the maximum length
    return max_length

# Test the function
words = ['cat', 'window', 'defenestrate']
print(longest_word(words))  # Output: 12

12

In [ ]:
# Start with a list of numbers
numbers = [5, 2, 9, 1, 7, 4, 6, 3, 8]

# Use the bubble sort algorithm to sort the list
# In each iteration of the loop, we compare adjacent elements
# and swap them if they are in the wrong order
n = len(numbers)
for i in range(n):
    for j in range(0, n-i-1):
        if numbers[j] > numbers[j+1]:
            # Swap elements
            numbers[j], numbers[j+1] = numbers[j+1], numbers[j]

print(numbers)  # Output: [1, 2, 3, 4, 5, 6, 7, 8, 9]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
d={'mini':1,'mahammad':2,'vivek':3,'mukta':4}
type(d)
d1={1:2}
d.update(d1)
print(d)

{'mini': 1, 'mahammad': 2, 'vivek': 3, 'mukta': 4, 1: 2}

In [ ]:
a=7
if a in d.values():
  print('true')

In [ ]:
for i,j in d.items():
  print(i,j)

mini 1
mahammad 2
vivek 3
mukta 4
1 2

In [ ]:
d2={}
n=10
for i in range(1,n):
  d2[i]=i*i
print(d2)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [ ]:
#sum of all items in dictionary
print(sum(d2.values()))
print(sum(d2.keys()))

285
45

In [ ]:
name="mini sharma - Hasan Takked"
new_name = name.split('-')

In [ ]:
joined=(':').join(new_name)
print(joined)

mini sharma : Hasan Takked